<!DOCTYPE html>
<html>
  <head>
    <title>Ruby & AngularJS Demo Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <%= javascript_include_tag "https://code.angularjs.org/1.5.8/angular-resource.min.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Ruby & Angular Demo', root_path, class: 'navbar-brand' %>
        </div>

        <div class="collapse navbar-collapse">
          <div class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= link_to 'Sign Out', sign_out_path, method: :delete, class: 'btn btn-primary navbar-btn' %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <div class="content-wrap" ng-cloak ng-app="demoApp">
      <%if notice%>
        <div class="alert alert-success">
          <p><%= notice %></p>
        </div>
      <%end%>
      <%if alert%>
        <div class="alert alert-danger">
          <p><%= alert %></p>
        </div>
      <%end%>

      <%= yield %>
    </div>
  </body>
</html>
